@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.input-right-placeholder::placeholder {
  text-align: right; /* Align placeholder text to the right */
}

.input-right-placeholder {
  text-align: right; /* Align input text to the right */
}
@font-face {
  font-family: "Exo 2";
  src: url("/fonts/static/Exo2-Regular.ttf") format("truetype"),
    url("/fonts/static/Exo2-Bold.ttf") format("truetype"),
    url("/fonts/static/Exo2-ExtraBold.ttf") format("truetype"),
    url("/fonts/static/Exo2-ExtraLight.ttf") format("truetype"),
    url("/fonts/static/Exo2-Light.ttf") format("truetype"),
    url("/fonts/static/Exo2-Medium.ttf") format("truetype"),
    url("/fonts/static/Exo2-Regular.ttf") format("truetype"),
    url("/fonts/static/Exo2-Light.ttf") format("truetype"),
    url("/fonts/static/Exo2-Medium.ttf") format("truetype"),
    url("/fonts/static/Exo2-SemiBold.ttf") format("truetype"),
    url("/fonts/static/Exo2-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Exo 2", sans-serif;
}
